a {
    text-decoration: none;
    color:darkblue
}

main {
    background-color:honeydew;

    width: 50%;
}

figure {
    margin: 30px;
    padding:30px;
    padding-bottom: 10px;
    width: 300px;
    background-color: gainsboro;
}

img {
    height: 300px;
    width: 300px;
}